@import "tailwindcss";

@utility container {
  margin: auto;
  padding: 0 16px;
}
@theme{
  --color-brand: #008ECC;
  --color-secondary: #F3F9FB;
  --color-primary: #666666;
  --color-theme: #F5F5F5;
}
.slick-dots .slick-active div{
  @apply h-1 w-2 md:h-2.5 md:w-5 
  
}